<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="robots" content="all" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>博傲10万元新年现金红包大放送</title>
    <script type="text/javascript" src="../js/publick/rem.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/init.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css?v=1.1.8">
</head>
<body>
    <div class="huodong_tan">
        <div class="huodong_con">
            <div class="huodong_text">
                活动已结束，春节见！
            </div>
        </div>
        <div class="huodong_close">
            <img src="../img/close_img.png" alt="" class="huodong_close_img">
        </div>
    </div>
    <div class="wsxx_tan">
        <div class="wsxx_con">
            <div class="wsxx_title">完善信息</div>
            <div class="wsxx_little">请输入手机号，即可立即提现</div>
            <div class="wsxx_content">
                <div class="phoneInpBox">
                    <img src="../img/phone.png" alt="">
                    <input type="number" class="phoneInp" placeholder="请输入手机号">
                </div>
                <div class="yzmBox">
                    <img src="../img/yzm.png" alt="">
                    <input type="number" class="yzmInp" placeholder="请输入验证码">
                    <button class="sendYzm">发送验证码</button>
                </div>
                <div class="BTN">确定</div>
            </div>
        </div>
        <div class="wsxx_close">
            <img src="../img/close_img.png" alt="" class="wsxx_close_img">
        </div>
    </div>
    <div class="gksp_tan">
        <div class="gksp_con">
            <div class="gksp_text">
                观看完整版视频,即可领取<br>
                请继续观看！
            </div>
            <div class="gksp_BTN">确定</div>
        </div>
        <div class="gksp_close">
            <img src="../img/close_img.png" alt="" class="gksp_close_img">
        </div>
    </div>
    <div class="guiz_tan"> 
        <div class="guiz_con">
            <div class="guiz_text">
                <div class="guiz_title">博傲100元新年现金红包<br>正在发放中</div>
                <div class="guiz_time">大年三十晚上19点至正月初七</div>
                <div class="guiz_content">凡报3580元及以上班次，<br>均可领取红包并提现</div>
            </div>
            <div class="guiz_BTN">详情</div>
        </div>
        <div class="guiz_close">
            <img src="../img/close_img.png" alt="" class="guiz_close_img">
        </div>
    </div>
    <div class="txcg_tan">
        <div class="txcg_con">
            <div class="txcg_text">
                提现正在审核中<br>
                审核通过后将转入微信钱包
            </div>
            <div class="txcg_BTN">确定</div>
        </div>
        <div class="txcg_close">
            <img src="../img/close_img.png" alt="" class="txcg_close_img">
        </div>
    </div>
    <div class="one_tx_tan">
        <div class="one_tx_con">
            <div class="one_tx_text">
                满<span class="ze"></span>元可提现
                 <br> 
               请继续加油
            </div>
            <div class="one_tx_BTN">确定</div>
        </div>
        <div class="one_tx_close">
            <img src="../img/close_img.png" alt="" class="one_tx_close_img">
        </div>
    </div>
    <div class="two_tx_tan">
        <div class="two_tx_con">
            <div class="two_tx_text">
                可提现金额为0, 不能提现
                <!-- 满<span class="ze"></span>元可提现,您还差<span class="hc"></span>元 -->
                <!-- <br> -->
                <!-- 请继续加油 -->
            </div>
            <div class="two_tx_BTN">确定</div>
        </div>
        <div class="two_tx_close">
            <img src="../img/close_img.png" alt="" class="two_tx_close_img">
        </div>
    </div>
    <div class="fxhy_tan">
        <div class="fxhy_con">
            <div class="fxhy_text">
                想领取更多红包<br>
                请查看玩转攻略
            </div>
            <div class="fxhy_BTN">查看攻略</div>
        </div>
        <div class="fxhy_close">
            <img src="../img/close_img.png" alt="" class="fxhy_close_img">
        </div>
    </div>
    <div class="wrapper">
        <div class="content">
            <div class="list_page">
                <div class="time">
                    活动时间：<br>
                    <span class="time_con"></span>-
                    <span class="cu"></span>
                </div>
                <div class="lqtx">
                    <div class="ljtx">
                        <div class="ljtx_tel">
                            当前手机号：<span class="shoujihao"></span>
                        </div>
                        <div class="ljtx_money">
                            <span class="money"></span>元
                        </div>
                        <div class="ljtx_btn">立即提现</div>
                    </div>
                </div>
                <div class="hbjl">
                    <div class="hbjl_title">
                        <span class="text_Tu">
                            <img src="../img/text.png" alt="" class="text_img">
                        </span>
                        <span class="text_text">红包记录</span>
                        <span class="text_Tu">
                            <img src="../img/text.png" alt="" class="text_img">
                        </span>
                    </div>
                    <div class="hbjl_content">
                        
                    </div>
                </div>
            </div>
            <div class="list_page">
                <div class="time">
                    活动时间：<br>
                     <span class="time_con"></span>-
                     <span class="cu"></span>
                    
                </div>
                <div class="banner_di">
                    <div class="banner_con">
                        <img src="../img/banner.jpg" alt="" class="banner_img">
                    </div>
                </div>
                <div class="video">
                    <div class="video_title">
                        <span class="text_Tu">
                            <img src="../img/text.png" alt="" class="text_img">
                        </span>
                        <span class="text_text">拜年视频</span>
                        <span class="text_Tu">
                            <img src="../img/text.png" alt="" class="text_img">
                        </span>
                    </div>
                    <div class="little_title">
                        博傲教育全体工作人员祝大家鼠年大吉
                    </div>
                    <div class="video_content">
                        <div class="video_con">
                            <div class="video_bf">

                            </div>
                            <!-- <div class="btn_con">
                                <img src="../img/bf_img.png" alt="" class="bf_btn">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="list_page">
                
            </div>
        </div>
        <div class="btn_url">
            <li>
                <dl>
                    <dt>
                        <img src="../img/ljlq_two.png" alt="" class="index_img">
                        <img src="../img/ljlq_one.png" alt="" class="img_nav">
                    </dt>
                    <dd>立即领取</dd>
                </dl>
            </li>
            <li>                
                <dl>
                    <dt>
                        <img src="../img/index_two.png" alt="" class="index_img">
                        <img src="../img/index_one.png" alt="" class="img_nav">
                    </dt>
                    <dd>首页</dd>
                </dl>
            </li>
            <li>                
                <dl>
                    <dt>
                        <img src="../img/ljtx_two.png" alt="" class="index_img">
                        <img src="../img/ljtx_one.png" alt="" class="img_nav">
                    </dt>
                    <dd>立即提现</dd>
                </dl>
            </li>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="../js/publick/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../js/publick/vconsole.min.js"></script>
<script type="text/javascript" src="../js/publick/global.js"></script>
<script type="text/javascript" src="../js/publick/jssdk.js"></script>
<script type="text/javascript" src="../js/publick/getPageSign.js?v=1.1.1"></script>
<script type="text/javascript" src="../js/publick/getUserInfo.js?v=1.1.1"></script>
<script type="text/javascript" src="../js/publick/ShareTimeline.js?v=1.1.1"></script>
<script type="text/javascript" src="../js/index.js?v=1.2.3"></script>
